services:
  web:
    build: .
    restart: always
    env_file: annotation_tool/.env
    command: >
      sh -c " export NODE_OPTIONS=--max-old-space-size=1024 &&
       # cd /app/annotation_tool/frontend && 
       # npm install && npm run build &&
       # cd - &&
       python manage.py makemigrations api &&
       python manage.py migrate && 
       python manage.py collectstatic --noinput &&
       python manage.py runserver 0.0.0.0:8000 --nostatic"
    volumes:
      - ./:/app/
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./annotation_tool/.static:/usr/share/nginx/html/static
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
