[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-allauth = "*"
whitenoise = "*"
django-filter = "*"
django-extensions = "*"
requests = "*"
jwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
