<div>
  <div class="info-box">
    <h3 class="info-box-heading">Collaborative Annotation</h3>
    <p class="info-box-content">
      Quickly and easily annotate documents, then review those annotations.
    </p>
  </div>
  
  <div class="info-box">
    <h3 class="info-box-heading">Progress Tracking</h3>
    <p class="info-box-content">
      Keep track of tasks and progress at the document, project, and team levels.
    </p>
  </div>
  
  <div class="info-box">
    <h3 class="info-box-heading">Flexible Integration</h3>
    <p class="info-box-content">
      Download and manage data, tasks, documents, and annotation schemes using the web interface, the API, or by 
      downloading and modifying CSV, XLSX, or JSON files. Use your annotations to tune or benchmark by 
      downloading a SLURM script that can be upload and run on your university's computing cluster without writing a single line of code.
    </p>
  </div>
</div>