

#policy-admin {
  background-color: $nyu-lighter-purple;
  #policy-admin-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vh;
    #policies-table-container {
      max-width: 1280px;
      #policies-table-subcontainer {
        @include mixins.nested-layer-box();
        max-width: 1200px;
        overflow: scroll;
        height: calc(100vh - 5vh - 8em);
        #policies-list-table {
          max-width: 1200px;
        }
      }
    }
    #policy-instance-admin-container {
      max-width: 1280px;
      > div {
        margin-bottom: 2em;
      }
      .policy-doc-input-container {
        @include mixins.nested-layer-box();
        input.title-box {
          width: 100%;
          font-size: 1.5em;
          border: 1px solid grey;
          padding: 4px;
        }
        .RichEditor-root {
          border: 1px solid black;
          padding: 8px;
        }
        .RichEditor-controls {
          display: flex;
          justify-content: left;
          align-content: space-around;
        }
        .RichEditor-styleButton {
          border: 1px solid #ccc;
          width: 3em;
          padding: 3px;
          margin: 3px;
          text-align: center;
          font-weight: bolder;
          &:hover {
            background-color: #ddd;
          }
        }
        .RichEditor-activeButton {
          background-color: #ccc;
        }
      }
      .policy-doc-preview {
        @include mixins.nested-layer-box();
        margin-bottom: 0.25em;
        .doc-preview-paragraph {
          margin-top: 1em;
          position: relative;
          .paragraph-num {
            position: absolute;
            left: -2em;
            top: 0;
            color: grey;
            font-size: 0.75em;
            text-align: left;
          }
          .sentence {
            //margin: 0 0.5em;
            &:hover {
              background-color: $nyu-light-grey;
            }
          }
          .preview-section {
            font-size: 1.2em;
            font-weight: bold;
          }
          .preview-text {
          }
          .preview-list {
            .preview-list-item {
              margin: 0.5em 0;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: left;
              .bullet {
                text-align: right;
                font-family: monospace;
                font-weight: bolder;
                margin: 0 0.5em;
                font-size: 1.2em;
                color: black;
              }
              .content {
                flex-grow: 1;
              }
            }
          }
        }
        .doc-preview-title {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      #policy-snapshot-list {
        @include mixins.nested-layer-box();
        #policy-snapshot-start-coding-button a {
          text-align: center;
          border: 1px solid $nyu-light-purple;
          background: $nyu-faint-purple;
          color: $nyu-darker-purple;
          display: block;
          &:hover {
            background: $nyu-lighter-purple;
            color: $nyu-darker-purple;
          }
        }
      }
      
      #policy-info-box {
        @include mixins.nested-layer-box();
        #policy-info-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 100%;
          #trafficdata-rankbycountry-traffic-info,
          #trafficdata-rankbycountry-users-info {
            min-width: calc(50% - 0.5em);
            max-width: calc(50% - 0.5em);
          }
          #trafficdata-contributingsubdomains-info {
            min-width: 100%;
          }
          .info-item {
            @include mixins.nested-layer-box();
            border: 1px solid $nyu-light-grey;
            flex-grow: 1;
            margin: 0.25em;
            padding: 0.5em;
            text-align: center;
            .info-name {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .info-box {
    @include mixins.nested-layer-box();
    margin-bottom: 1em;
  }
}
