@use "_variables" as *;
@use "_mixins";

#assignment-list {
  #contents {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .coder-assignments {
    @include mixins.nested-layer-box();
    width: 1080px;
    margin-top: 2em;
    #assignment-list-table {
      max-width: 1080px;
      table-layout: fixed;
      td {
        width: calc(1080px / 5);
        max-width: calc(1080px / 5);
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

#assignment-management {
  .create-assignment-form {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 2em;
    padding: .5em;
    @include mixins.material-box();

    select, input {
      padding: 0.25em;
      min-width: 200px;
    }
  }

  .assignments-table {
    width: fit-content;
    min-width: 320px;
    max-width: 100%;
    overflow: auto;
    @include mixins.material-box();

  .assignee-cell { 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1em;
    gap: 1em;
  }
  .create-assignment-holder {
    padding: 0 1em;
    margin-top: 1em;
  }

    .assignment-actions {
      display: flex;
      gap: 1em;
      a {
        color: $nyu-dark-grey;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .create-button {
    margin-bottom: 1em;
  }

  .unassign-button {
    color: red;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
