$nyu-faint-purple: #f5eafb;
$nyu-lighter-purple: #e6d4f1;
$nyu-light-purple: #8900e1;
$nyu-purple: #57068c;
$nyu-dark-purple: #330662;
$nyu-darker-purple: #220337;
$nyu-black: #000000;
$nyu-dark-grey: #6d6d6d;
$nyu-grey: #b8b8b8;
$nyu-light-grey: #d6d6d6;
$nyu-lighter-grey: #f2f2f2;
